body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    background-color: #ffffff;
}

.nombret {
    background-color: #ffdf00;
    font-size: 20px;
    padding: 15px 25px 15px 25px;
    display: flex;
    align-items: center;
}

.menu li{
    list-style: none;
    margin-right: 25px;
}

.menu ul{
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.menu img{
    width: 60px;
    margin-bottom: -3px;
    margin-left: -5px;
    margin-right: 10px;
}

.lista{
    display: flex;
}

a{
    text-decoration: none;
    color: black;
}

.boton{
    text-decoration: none;
    font-size: 14px;
    background: #0c9b18;
    padding: 15px 30px 15px 30px;
    color: white;
}

.boton:hover{
    background-color: #6acc1a;
}

.titular h1{
    font-size: 60px;
    background: #0c9b18;
    margin: 0;
    color: white;
    padding: 15px 30px 15px 30px;
    border-radius: 73px;
    display: inline-block;
    text-align: center;
}

header{
    height: 100vh;
    background-size: cover;
    margin: 0;
}

h2{
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 15px;
    color: black;
}

.titular{
    text-align: center;
    margin-top: 150px;
}

.contenedor{
    max-width: 1280px;
    width: 90%;
    margin: auto;
}


/* plantilla*/
/* Seccion Servicios*/

.cont-plantilla{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.jugador{
    width: 25%;
    padding: 50px 38px 50px 38px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.color1{
    background-color:  #0c9b18;
    color: aliceblue;
}

.color2{
    background-color: #ffdf00;
}

.jugador h4{
    font-size: 30px;
    margin:0;
}

.jugador img{
    float: right;
}

.seccion-plantilla{
    margin-top: 0;
    border-top: solid;
    margin-bottom: 50px;
}

.bb{
    text-align: center;
    width:100%;
}

.bb a{
    background-color: #5cb8ff;
}

.bb a:hover{
    background-color: black;
}
.contenido-foter{
    background-color: #0c9b18;
    padding: 3rem;
}
.iconos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconos-centrar{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
@media (max-width: 600px) {
    .iconos{
       flex-direction: column;
        justify-content: center;
    }
}

.icon{
    width: 65px;
    height: 65px;
    margin: 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: all .4s;
}

.icon:nth-child(1):hover{
    box-shadow: 0px 0px 0px 10px #ffdf00 ;
}

.icon:nth-child(2):hover{
   box-shadow: 0px 0px 0px 10px #ffdf00 ;
}

.icon:nth-child(3):hover{
    box-shadow: 0px 0px 0px 10px #ffdf00 ;
}
.icon:nth-child(4):hover{
    box-shadow: 0px 0px 0px 10px #ffdf00 ;
}
.icon:nth-child(5):hover{
    box-shadow: 0px 0px 0px 10px #ffdf00 ;
}


.fa-facebook {
    color: #ffdf00; 
}

.fa-twitter-square{
    color: #ffdf00; 
}

.fa-phone-square-alt{
    color: #ffdf00; 
}

.fa-instagram-square{
    color: #ffdf00; 
}

.fa-search-location{
    color: #ffdf00; 
}
/** escudo   **/
.escudo{
    width: 8%; 
}

.cont-escudo{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    margin-bottom: -4.5rem;
}

@media (max-width: 768px) {
    .escudo{
        display: none;
    }
}


