.inputs {
    width: 100%;
    background: #f4f81d;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #ffffff;
    font-family: 'calibri';
    font-size: 18px;
    color: rgb(32, 223, 25);
}
a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: black;
}

table{
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    color: #ffdf00;
    margin:0;
}

.btn_agregar{
    background-color: #0c9b18;
    padding: 10px;
    border-radius: 5px;
    color: white;
}
.table_productos{
    display: flex;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    color: #0c9b18;
}
.table_productos > img{
    width: 9rem;
    object-fit: contain;
    border-radius:6px;
    margin-right: 20px;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    color: #0c9b18;
}

.text-t{
    color: #087511;
    font-weight: 800;
}

.delete{
    font-weight: 1000;
    color: red;
}

.delete:hover{
    font-size: 15px;
}

.edit{
    font-weight: 800;
    color: rgb(35, 21, 161);
}
