body{
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    color: #ffdf00;
    margin:0;
}
header, .alert{
    z-index: 100;
}
.description{ 
    color: black;
    height: 25px;
    overflow: hidden;
    transition: height .3s ease-in .3s;
}
.description:hover{
    height: 80px;
    color: black;
}
.carrito{
min-height: vh;
max-width: 1000px;
margin: 0 auto;
width: 100%
}
.table_productos{
    display: flex;
}
.table_productos > img{
    width: 9rem;
    object-fit: contain;
    border-radius:6px;
    margin-right: 20px;
}
.table_cantidad >input{
    width: 40px;
    border: none;
    outline: 0;
    font-size: 16px;
    font-weight: 700;
    margin-right: 30px;
    margin-bottom: 20px;
}
.nombret {
    background-color: #ffdf00;
    font-size: 20px;
    padding: 15px 25px 15px 25px;
    display: flex;
    align-items: center;
}

.menu li{
    list-style: none;
    margin-right: 25px;
}

.menu ul{
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.menu img{
    width: 60px;
    margin-bottom: -3px;
    margin-left: -5px;
    margin-right: 10px;
}

.lista{
    display: flex;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color: black;
}

.h4{
    color: #0c9b18;
    font-weight: 600;
}

.boton{
    background-color: #ffdf00;
}

.boton:hover{
    background: #0c9b18;
}
.texto{
    color: #0c9b18;
}
.imagen{
    width: 260px;
    height: 300px;
}

.carro{
    color:#0c9b18;
}

.carro:hover{
    color: #ffdf00;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #0c9b18;
}
.nav-link.active{
    background-color: #0c9b18;
}

.table>:not(caption)>*>*{
    background-color: #ffffff;
    color: #0c9b18;
}
.table-striped>tbody>tr:nth-of-type(odd)>*{
    background-color: #ffffff;
    color: #0c9b18;
}

.table-dark{
    --bs-table-striped-bg: white;
}
.hide, .remove{
    display: none;
}